################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StringArtConsole/StringArtFeeder/StringArtConsole/bin/Debug/net6.0
/StringArtConsole/StringArtFeeder/StringArtConsole/obj
